<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teresa.android.flowershop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RedActivity"
            android:label="Red Flowers" />
        <activity
            android:name=".PurpleActivity"
            android:label="Purple Flowers" />
        <activity
            android:name=".WhiteActivity"
            android:label="White Flowers" />
        <activity
            android:name=".YellowActivity"
            android:label="Yellow Flowers" />
        <activity android:name=".CategoryItem" />
        <activity android:name=".CategoryAdapter" />
        <activity android:name=".FlowerActivityDetail"></activity>
    </application>

</manifest>